# Python
__pycache__/
*.py[cod]
.venv/
venv/
backend/venv/

# Node
frontend/node_modules/
frontend/dist/

backend/weights/*.pt
backend/weights/*.pth

!backend/weights/convnext_wbc_fold2.pth
# Ignore unused WBC model weights
backend/weights/convnext_wbc_fold1.pth
backend/weights/convnext_wbc_fold3.pth
